.wrapper {
  border-radius: 10px;
  background-color: #202026;
  overflow:hidden;
  height: 48vh;
  font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 0 20px;
  }
}