.item {
  /* background-color: var(--playlistBackground); */
  color: var(--playlistText);
  text-align: start;
  margin: 5px 0;
  padding: 3px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.wrapplaylist{
  width: 100%;
  padding-bottom: 2vh;
  display: flex;
  /* gap: 1vw; */
  align-items: center;

}
.satu{
  width: 20%;
}
.dua{
  width: 60%;
}

.tiga{
  width: 20%;
}
.imageArtis {
  border-radius: 0.5vw;
  margin-left: 1vw;
  margin-top: 1vh;
}

.wrapplaylist .textdurasi{
  text-align: left;
}

.active {
  color: var(--playlistTextHoverActive);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.item:hover {
  color: var(--playlistTextHoverActive);
}