.container {
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 4px;
  border-radius: 5px;
  background-color: #FFFFFF !important;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #5773ff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #5773ff;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 40px 0;
  }
}