.wrapnavbar{
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 3vw;
}

.navleft{
    display: flex;
    gap: 1vw;
    width: 70%;
}

.navleft h1{
    color: #626466;
}

.navleft h1:hover{
    color: #4054ba;
}

.navleft input{
    margin-left: 10vw;
    margin-top: -1vw;
    padding: 1.5vw;
    border: solid white 1px;
    border-radius: 0.5vw;
    font-size:smaller;
    background-color: #1d1d1d;
}

.navright{
    display: flex;
    width: 30%;
    gap: 1vw;
}


.avatar{
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-top: -2vh;
    width: 50%;
    height: 7vh;
    background-color: #25252d;
    border-radius: 0.5vw;
}

.avatar h1{
    font-size:smaller;
    margin-left: 0.5vw;
}

.avatar .iavatar{
    margin-left: 0.5vw;
}

